"*.pyc" 
"*.pyo" 
"*.pyd" 
"__pycache__/" 
"venv/" 
".env/" 
".venv/" 
".vscode/" 
".idea/" 
"*.swp" 
"*.swo" 
".ipynb_checkpoints/" 
"*.log" 
"nosetests.xml" 
"coverage.xml" 
"build/" 
"dist/" 
"*.egg-info/" 
".python-version" 
"*.tmp" 
"*.bak" 
